<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="<%= root_path %>" class="brand-logo main-logo center">
      Marfran Imóveis
    </a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab">
        <a href="<%= root_path %>">Início</a>
      </li>
      <li class="tab">
        <a href="<%= request.base_url %>/#renting">Alugar</a>
      </li>
      <li class="tab">
        <a href="<%= request.base_url %>/#selling">Comprar</a>
      </li>
      <li class="tab">
        <a href="<%= request.base_url %>/#laws">Jurídico</a>
      </li>
      <li class="tab">
        <a href="<%= contact_path %>">Contato</a>
      </li>
    </ul>
  </div>
</nav>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>