<div class="row">
  <h3 class="center-align">Editar imóvel</h3>
</div>
<%= form_with model: @real_estate, url: real_estate_path, method: :patch, local: true do |form| %>
  <div class="row">
    <div class="input-field col s4">
      <%= form.text_field :name, id: "real-estate-name", type: 'text' %>
      <label for="real-estate-name" class="active">Nome do imóvel</label>
    </div>
    <div class="input-field col s4">
      <%= form.select :real_estate_type, RealEstate.types.map { |key,value| [t(key),value] }, id: 'real_estate_type' %>
    </div>
    <div class="input-field col s4">
      <%= form.number_field :rooms, min: 1, id: "input-rooms" %>
      <label for="input-rooms" class="active">Quantidade de cômodos</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <label>
        <%= form.check_box :renting, checked: @real_estate.renting?, id: "for-rent" %>
        <span>Para alugar?</span>
      </label>
    </div>
    <div class="input-field col s4">
      <label>
        <%= form.check_box :selling, checked: @real_estate.selling?, id: "for-sell" %>
        <span>Para vender?</span>
      </label>
    </div>
    <div class="input-field col s4">
      <label>
        <%= form.check_box :showing, checked: @real_estate.showing? %>
        <span>Mostrar imóvel no site?</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4" id="input-rent">
      <%= form.text_field :rent_price, id: 'input-rent-price' %>
      <label for="input-rent-price" class="active">Preço do aluguel</label>
    </div>
    <div class="input-field col s4" id="input-sell">
      <%= form.text_field :sell_price, id: 'input-sell-price' %>
      <label for="input-sell-price" class="active">Preço de venda</label>
    </div>
  </div>
  <div class="row">
    <h4>Descrição do imóvel</h4>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= form.text_area :description, id:'input-real-estate-description', class:"materialize-textarea" %>
      <label for="input-real-estate-description">Texto descrevendo o imóvel...</label>
    </div>
  </div>
  <div class="row">
    <h4>Informações de localização</h4>
  </div>
  <%= form.hidden_field :address_id, value: @address.id%>
  <div class="row">
    <div class="input-field col s4">
      <%= form.text_field :street, id: "real-estate-address-street", type: 'text', value: @address.street %>
      <label for="real-estate-address-street" class="active">Nome da rua</label>
    </div>
    <div class="input-field col s2">
      <%= form.text_field :number, id: "real-estate-address-number", type: 'text', value: @address.number %>
      <label for="real-estate-address-number" class="active">Complemento</label>
    </div>
    <div class="input-field col s4">
      <%= form.text_field :cep, id: "real-estate-address-cep", type: 'text', value: @address.cep %>
      <label for="real-estate-address-cep" class="active">CEP</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <%= form.text_field :city, id: "real-estate-address-city", type: 'text', value:  @address.city %>
      <label for="real-estate-address-city" class="active">Cidade</label>
    </div>
    <div class="input-field col s4">
      <%= form.text_field :state, id: "real-estate-address-state", type: 'text', value: @address.state %>
      <label for="real-estate-address-state" class="active">Estado</label>
    </div>
  </div>
  <% if @real_estate.images.any? %>
    <div class="row">
      <h4>Imagens já adicionadas</h4>
    </div>
    <%= form.hidden_field :deleted_values %>
    <% count = 0 %>
    <div class="row">
    <% @real_estate.images.each do |image| %>
      <% if count == 0%>
        <div class="row">
      <% elsif count % 3 == 0 %>
        </div>
        <div class="row">
      <% end %>
      <%= render partial: 'shared/admin_real_estate_images', locals: {form: form, image: image, real_estate: @real_estate} %>
      <% count += 1%>
    <% end %>
    </div>
  <% end %>
  <div class="row">
    <h4>Adicionar novas imagens</h4>
  </div>
  <div class="row">
    <div class="file-field input-field">
        <div class="btn black">
          <span>Adicionar...</span>
          <%= form.file_field :images, 
                              multiple: true, 
                              accept: 'image/png,image/jpeg' %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
  </div>
  <div class="row">
    <button type="submit" class="btn waves-effect waves-light black">
      Salvar
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
