<h1>Editar imóvel</h1>
<%= form_with model: @real_estate, url: real_estate_path, method: :patch do |form| %>
  <%= form.label :name, 'Nome do imóvel' %>
  <%= form.text_field :name %>
  <br />
  <%= form.label :real_estate_type, 'Tipo do imóvel' %>
  <%= form.select(:real_estate_type, options_for_select(RealEstate.types)) %>
  <br />
  <%= form.label :rooms, 'Número de cômodos' %>
  <%= form.number_field(:rooms, min: 1) %>
  <br />
  <%= form.check_box :showing, checked: @real_estate.showing? %>
  <%= form.label :showing, 'Mostrar esse imóvel no site?' %>
  <br />
  <% @real_estate.images.each do |image| %>
    <div id="<%= image.id %>">
      <%= image_tag(image.variant(resize_to_limit: [350,400])) %>
      <br>
      <input type="button" onclick="deletePhoto(<%= image.id %>)" value="Apagar">
    </div>
  <% end %>
  <%= form.hidden_field :deleted_values %>
  <%= form.submit "Salvar" %>
<% end %>

<script>
  var deleted_images = []
  function deletePhoto(id) {
    var element = document.getElementById(id)
    element.parentNode.removeChild(element)
    deleted_images.push(id)
    document.getElementById('real_estate_deleted_values').value = deleted_images
  }
</script>