<div class="section white" id="search-box">
  <div class="container">
    <div class="row">
      <h4>Pesquisar imóveis</h4>
      <div class="divider"></div>
    </div>
    <%= search_form_for @q, url: search_real_estate_index_path do |form| %>
      <div class="row">
        <div class="input-field col s4">
          <%= form.search_field :name_or_description_cont_any, id: "keywords" %>
          <label for="keywords" class="active">Palavras-chave (ex. Casa 3 quartos) </label>
        </div>
      <%= form.grouping_fields do |g| %>
        <%= g.hidden_field :m, value: 'or' %>
        <div class="input-field col s2">
          <%= g.select :real_estate_type_eq, RealEstate.types.map { |key,value| [t(key),value] }, id: 'real_estate_type', include_blank: 'Tipo do imóvel' %>
        </div>
        <div class="input-field col s3">
          <%= form.number_field :rooms_eq, min: 0, id: "input-rooms" %>
          <label for="input-rooms" class="active">Quantidade de cômodos</label>
        </div>
        <div class="input-field col s3">
          <%= form.number_field :bathrooms_eq, min: 0, id: "input-bathrooms" %>
          <label for="input-bathrooms" class="active">Quantidade de banheiros</label>
        </div>
      </div>
      <div class="row">
        <%= g.hidden_field :m, value: 'or' %>
          <div class="input-field col s3">
            <label>
              <%= g.check_box :renting_true, checked: true, id: 'search-rent' %>
              <span>Quero alugar</span>
            </label>
          </div>
          <div class="input-field col s3">
            <label>
              <%= g.check_box :selling_true, checked: true, unchecked_value: '', id: 'search-sell' %>
              <span>Quero comprar</span>
            </label>
          </div>
        <% end %>
        <div class="input-field col s6">
          <%= form.search_field :address_street_or_address_number_or_address_cep_or_address_city_or_address_state_cont_any, id: "address-search" %>
          <label for="address-search" >Localização</label>
        </div>
      </div>
      <div class="row">
        <div class="col s3" id="renting-prices">
          <div class="input-field s3">
            <%= form.search_field :rent_price_lteq, id: 'rent-max-price' %>
            <label for="rent-max-price">Preço máximo do aluguel</label>
          </div>
        </div>
        <div class="col s3" id="selling-prices">
          <div class="input-field s3">
            <%= form.search_field :sell_price_lteq, id: 'sell-max-price' %>
            <label for="sell-max-price">Preço máximo do imóvel</label>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn waves-effect waves-light right-align">
          Pesquisar
          <i class="material-icons right">search</i>
        </button>
      </div>
    <% end %>
  </div>
</div>
<script>
  $('#search-rent').change(function () {
    if (this.checked) 
      $('#renting-prices').show();
    else 
      $('#renting-prices').hide();
    });
  $('#search-sell').change(function () {
      if (this.checked) 
          $('#selling-prices').show();
      else 
          $('#selling-prices').hide();
  });
</script>