<!DOCTYPE html>
<html>
  <head>
    <title>Marfran Imóveis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "shared/page_header" %>
    </header>
    <main>
        <%= yield %>
    </main>
    <footer>
      <%= render "shared/page_footer" %>
    </footer>
  </body>
</html>

<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
